<head>
      <%- include('./components/head'); %>
</head>

<header style="padding-bottom:2.5rem;">
  <%- include('./components/header',{user:user}) %>

</header>
<section class="section">
     <div class="container">
       <div class="columns">
         <div class="column">
           <div class="box">
             <div class="content">
               <h1 class="title"><%= bounty.title %></h1>
               <div class="tags">
                 <span class="tag is-dark">
                  <%= bounty.created_on.toLocaleDateString("en-US") %>
                 </span>
                 <span class="tag is-link">
                 <%= bounty.name %>
                 </span>
               </div>


               <hr>
               <p><a href="https://<%= bounty.link %>"><%= bounty.link %></a></p>

               <p><%= bounty.description %></p>
               <h3 class="subtitle">Bounty payout conditions</h3>
               <p><%= bounty.condition_text %></p>
             </div>
           </div>
          </div>
          <div class="column is-4">
            <nav class="panel">
              <p class="panel-heading">
                Bounties
              </p>

              <% bounties.forEach(function(bounty){ %>

              <a class="panel-block" <% if(bounty.announchment_link){ %>
                  href="https://<%= bounty.announchment_link %>"
                <% } else{ %>
                    href="https://<%= bounty.identity_url %>"
                  <% } %>
                >
                <span class="panel-icon">
                  <i class="fab fa-bitcoin" aria-hidden="true"></i>
                </span>
                <% console.log(bounty) %>
                <%= bounty.amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %> sats  <span class="has-text-link has-text-weight-semibold"style="padding:0.5rem;"> <%= bounty.identity_name %></span>
              </a>
              <% }); %>
              <div class="panel-block">
                <a href="/post/bounty/add?id=<%=bounty.id%>" class="button is-link is-outlined is-fullwidth">Add bounty</a>

              </div>

            </nav>
          </div>
        </div>




      </div>
</section>

<script type="text/javascript">
  function formatNumber(num) {
  return num.
}
</script>
