<head>
      <%- include('./components/head'); %>
</head>

<header style="padding-bottom:2.5rem;">
  <%- include('./components/header',{user:user}) %>

</header>



<!--
<h2>Post issue</h2>
<form class="" action="/post/issue" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="link" placeholder="link">
  <input type="text" name="description" placeholder=""="Describe the issue">
  <button type="submit" value="Submit" name="button">Submit</button>
</form>

<h2>Post bounty</h2>
<form class="" action="/post/issue" method="post">
  <input type="number" name="issue_id" placeholder="issue_id">
  <input type="text" name="identity_url" placeholder="identity_url">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="link" placeholder="link">
  <input type="text" name="description" placeholder=""="Describe the issue">
  <button type="submit" value="Submit" name="button">Submit</button>
</form>
-->

<div class="section ">
    <div class="container">
      <article class="message  is-dark shadow">
    <div class="message-header">
      <p class="">Explore issues</p>
    </div>
    <div class="message-body">
      <div class="content">
        <div class="columns">
          <div class="column">
            <ul>
            <li>
              <a href="/issues/bitcoin/bitcoin">bitcoin/bitcoin</a>
            </li>
            <li>
              <a href="/issues/lightningnetwork/lnd">lightningnetwork/lnd</a>
            </li>
            <li>
              <a href="/issues/bitcoin/bips">bitcoin/bips</a>
            </li>
            <li>
              <a href="/issues/ElementsProject/lightning">ElementsProject/lightning</a>
            </li>
            <li>
              <a href="/issues/ZeusLN/zeus">ZeusLN/zeus</a>
            </li>
            <li>
              <a href="/issues/BlueWallet/BlueWallet">BlueWallet/BlueWallet</a>
            </li>
          </ul>
          </div>

          <div class="column">
            <ul>
            <li>
              <a href="/issues/lightningnetwork/lightning-rfc">lightningnetwork/lightning-rfc</a>
            </li>
            <li>
              <a href="/issues/lnbook/lnbook">lnbook/lnbook</a>
            </li>
            <li>
              <a href="/issues/ACINQ/eclair">ACINQ/eclair</a>
            </li>
            <li>
              <a href="/issues/lightningnetwork/lightning-onion">lightningnetwork/lightning-onion</a>
            </li>
            <li>
              <a href="/issues/breez/breezmobile">breez/breezmobile</a>
            </li>
            <li>
              <a href="/issues/lnbits/lnbits">lnbits/lnbits</a>
            </li>
          </ul>
          </div>

          <div class="column">
            <ul>
            <li>
              <a href="/issues/jamaljsr/polar">jamaljsr/polar</a>
            </li>
            <li>
              <a href="/issues/biscottigelato/SwiftLightning">biscottigelato/SwiftLightning</a>
            </li>
            <li>
              <a href="/issues/LNP-BP/lnp-node">LNP-BP/lnp-node</a>
            </li>
            <li>
              <a href="/issues/BlueWallet/LndHub">BlueWallet/LndHub</a>
            </li>
            <li>
              <a href="/issues/bitcoinj/bitcoinj">bitcoinj/bitcoinj</a>
            </li>
            <li>
              <a href="/issues/spesmilo/electrum">spesmilo/electrum</a>
            </li>
          </ul>
          </div>
          <div class="column">
            <ul>
            <li>
              <a href="/issues/bisq-network/bisq">bisq-network/bisq</a>
            </li>
            <li>
              <a href="/issues/lightninglabs/neutrino">lightninglabs/neutrino</a>
            </li>
            <li>
              <a href="/issues/zkSNACKs/WalletWasabi">zkSNACKs/WalletWasabi</a>
            </li>
            <li>
              <a href="/issues/bitcoin-core/HWI">bitcoin-core/HWI</a>
            </li>
            <li>
              <a href="/issues/sparrowwallet/sparrow">sparrowwallet/sparrow</a>
            </li>
            <li>
              <a href="/issues/rust-bitcoin/rust-wallet">rust-bitcoin/rust-wallet</a>
            </li>
          </ul>
          </div>
        </div>
        <p class="help">  <span class="icon"><i class="fas fa-info-circle"></i></span>Explore existing GitHub issues from popular Bitcoin projects and add bounties.</p>

      </div>
    </div>
  </article>

      <div class="columns">
        <div class="column">
          <% issues.forEach(function(issue){ %>
            <div class="box">
              <a href="/bounties/<%= issue.id %>">
              <div class="content">
                <h1 class="title"><%= issue.title %></h1>
                <div class="tags">
                  <span class="tag is-success">
                  bounty: <%= issue.total_bounty_amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %> sats
                  </span>
                  <span class="tag is-dark">
                   <%= issue.created_on.toLocaleDateString("en-US") %>
                  </span>
                  <span class="tag is-link">
                  <%= issue.name %>
                  </span>
                </div>
              </div>
              </a>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

  <%- include('./components/tracking') %>
